@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins Regular';
    src: url('../public/fonts/Poppins-Regular.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins Light';
    src: url('../public/fonts/Poppins-Light.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins Regular-Italic';
    src: url('../public/fonts/Poppins-Italic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins Light-Italic';
    src: url('../public/fonts/Poppins-LightItalic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins Bold';
    src: url('../public/fonts/Poppins-Bold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins Semi-Bold';
    src: url('../public/fonts/Poppins-SemiBold.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Overpass';
    src: url('../public/fonts/Overpass.ttf');
    font-display: swap;
  }

  /* Generative Fonts */
  @font-face {
    font-family: 'Aclonica';
    src: url('../public/fonts/Aclonica.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../public/fonts/PlayfairDisplay.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Staatliches';
    src: url('../public/fonts/Staatliches.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Qualy';
    src: url('../public/fonts/Qualy.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Aquawax';
    src: url('../public/fonts/Aquawax.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'BenzGrotesk';
    src: url('../public/fonts/Benz-Grotesk.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Delta';
    src: url('../public/fonts/Delta.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Overwave';
    src: url('../public/fonts/Overwave.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Azonix';
    src: url('../public/fonts/Azonix.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'OverThere';
    src: url('../public/fonts/OverThere.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'TheSimsong';
    src: url('../public/fonts/TheSimsong.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Panic';
    src: url('../public/fonts/Panic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Romantic';
    src: url('../public/fonts/Romantic.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Mezirane';
    src: url('../public/fonts/Mezirane.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Rolner';
    src: url('../public/fonts/Rolner.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'espectRetro';
    src: url('../public/fonts/espectRetro.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Deicho';
    src: url('../public/fonts/Deicho.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Gladolia';
    src: url('../public/fonts/Gladolia.otf');
    font-display: swap;
  }
}

a,
img,
button,
input,
label,
span {
  -webkit-tap-highlight-color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  border-radius: 50%;
  box-shadow: -427px 0 0 400px #48358f;
}

input[type='range']::-moz-range-thumb {
  border-radius: 50%;
  box-shadow: -427px 0 0 400px #8b79cf;
}

input[type='range']::-ms-thumb {
  border-radius: 50%;
  box-shadow: -427px 0 0 400px #8b79cf;
}

input[type='range']::-webkit-slider-thumb:focus {
  background-color: #8b79cf;
}

a:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent; /* For Safari/Chrome */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For other browsers */
}

@media only screen and (min-resolution: 72dpi) {
  @media only screen and (min-width: 0px) {
    html {
      font-size: 13px;
    }
  }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 15px;
    }
  }
}

@media only screen and (min-resolution: 100dpi) {
  html {
    font-size: 15px;
  }
}

.no-scroll {
  overflow: hidden;
}

.imagee {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, transparent 100%);
}
